/.gradle/
/bin/
/build/
.gradle/
build/
.DS_Store/
/.DS_Store/
.DS_Store
/Results/
/test-output/
.classpath
.gradle
.project
gradlew
gradlew.bat
settings.gradle
gradle/
.settings/
.idea/
.idea/**
/.idea/**
**/.idea/**
.pmd
/.pmd
/out/**
out/**
/.idea/**
.idea/**